button {
  padding: 0.5em 1em;
  background-color: transparent;
  border: solid 2px $c-contrastLight;
  font-weight: 700;
  display: block;
  width: 10em;
  margin: 3em auto;
  transition: 0.2s;
  transition-timing-function: ease-in;
  box-shadow: 0em 0 0 $c-contrastLight inset, 0em 0 0 $c-contrastLight inset;
  color: $c-contrastLight;
  position: relative;
  overflow: visible;
  z-index: 5;
  &::before,
  &::after {
    display: block;
    content: "";
    z-index: -3;
    position: absolute;
    width: 4px;
    border-radius: 2px;
    background-color: $c-contrastLight;
    height: 0;
    left: calc(50% - 2px);
    opacity: 1;
    transition: height 0.2s 0.2s, box-shadow 0.2s 0.25s, opacity 0.2s 0.3s;
    bottom: calc(100% + 0.2em);
    transform-origin: center 120%;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
  &:hover {
    color: $c-fond;
    box-shadow: -5.1em 0 0 $c-contrastLight inset,
      5.1em 0 0 $c-contrastLight inset;
    &::before,
    &::after {
      height: 1em;
      opacity: 0;
      box-shadow: 0 -0.8em $c-fond inset;
    }
  }
}
